<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">Registro Convenios</a>
    </div>
  </div>
</nav>
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Formulario para Registro de Convenidos Nacionales e Internacionales.</h5><br>
          <form>
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Tipo de Convenio:</label>
                  <select class="custom-select mr-sm-2" id="selectAgreements">
                    <option selected disabled>Seleccionar</option>
                    <option value="1">Nacional</option>
                    <option value="2">Internacional</option>                  
                  </select>
                </div>
                <div class="form-group">
                  <label for="usr">Nombre de la Universidad:</label>
                  <input type="text" class="form-control" id="usr">
                </div>
              </div>
              <div class="col-md-6">              
                <div class="form-group">
                  <label id="lblSite" for="pwd">Pais:</label>
                  <input type="text" class="form-control" id="pwd">
                </div> 
                <div class="form-group">
                  <label for="pwd">Página de la Universidad:</label>
                  <input type="text" class="form-control" id="pwd">
                </div> 
              </div>
            </div>
            <div class="col-md-6 offset-3" id="contentImage">
              <br>
              <div class="form-group col-md-6 offset-3">
                <img src="./assets/images/empty.jpg" class="img-rounded" style="height:150px;"> 
              </div> 
              <div class="form-group">
                <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Seleccionar Imagen Bandera</label>
              </div>
            </div>
            <br>
            <br>
            <button type="button" class="btn btn-primary">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>