<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand">Registro Movilidad</a>
        </div>
    </div>
</nav>
<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Formulario para Aplicar al Proceso de Movilidad.</h5><br>
                    <form>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Nombres:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Apellidos:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect">Tipo de documento:</label>
                                    <select class="custom-select mr-sm-2" id="selectAgreements">
                                        <option selected disabled>Seleccionar</option>
                                        <option value="1">Cédula de Ciudadanía</option>
                                        <option value="2">Pasaporte</option>                              
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Identificación:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect">Género:</label>
                                    <select class="custom-select mr-sm-2" id="selectAgreements">
                                        <option selected disabled>Seleccionar</option>
                                        <option value="1">Femenino</option>
                                        <option value="2">Masculino</option>                              
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Fecha de Nacimiento:</label>
                                    <input type="date" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Pais de Destino:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Ciudad de Destino:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Correo electrónico:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Teléfono:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Universidad de Origen:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Facultad:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect">Programa que cursa:</label>
                                    <select class="custom-select mr-sm-2" id="selectAgreements">
                                        <option selected disabled>Seleccionar</option>
                                        <option value="1">Ingeniería de Sistemas</option>
                                        <option value="2">Derecho</option>
                                        <option value="3">Otro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Semestre:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-12 col-md-8 offset-md-2" id="contentImage">
                                <br>
                                <div class="form-group col-md-6 offset-3">
                                    <img src="./assets/images/empty.jpg" class="img-rounded" style="height:150px;">
                                </div>
                                <div class="form-group">
                                    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                                    <label class="custom-file-label" for="customFileLang">Subir foto</label>
                                </div>
                            </div>       
                        </div>
                        <br>
                        <br>
                        <div class="form-row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary">Registrar</button>
                            </div>
                        </div>                     
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>