<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand">Registro Eventos</a>
        </div>
    </div>
</nav>
<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Formulario para Registro de Eventos para Docentes y Estudiantes.</h5><br>
                    <form>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Nombres:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Apellidos:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect">Tipo de documento:</label>
                                    <select class="custom-select mr-sm-2" id="selectAgreements">
                                        <option selected disabled>Seleccionar</option>
                                        <option value="1">Cédula de Ciudadanía</option>
                                        <option value="2">Pasaporte</option>                              
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Identificación:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect">Género:</label>
                                    <select class="custom-select mr-sm-2" id="selectAgreements">
                                        <option selected disabled>Seleccionar</option>
                                        <option value="1">Femenino</option>
                                        <option value="2">Masculino</option>                              
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Programa:</label>
                                    <input type="date" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Semestre:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Ciudad del Evento:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Correo electrónico:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Teléfono:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="mr-sm-2" for="inlineFormCustomSelect">Tipo de Evento:</label>
                                    <select class="custom-select mr-sm-2" id="selectAgreements">
                                        <option selected disabled>Seleccionar</option>
                                        <option value="1">Tecnológico</option>
                                        <option value="2">Innovación</option>                              
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Nombre del Evento:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="lblSite" for="pwd">Valor del Evento:</label>
                                    <input type="text" class="form-control" id="pwd">
                                </div>
                            </div>                          
                        </div>                    
                        <div class="form-row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary">Registrar</button>
                            </div>
                        </div>                     
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>