<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">Costos de Movilidad</a>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Listado de Costos Invertidos por Estudiante para Movilidad.</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="form-inline">
              <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Buscar"
                aria-label="Buscar">
              <i class="fas fa-search" aria-hidden="true"></i>
            </div><br>
            <table class="table table-bordered table-striped">
              <thead class="text-primary">
                <th>
                  <h5>Identificación</h5>
                </th>
                <th>
                  <h5>Nombre</h5>
                </th>
                <th>
                  <h5>Programa</h5>
                </th>
                <th>
                  <h5>Tipo de Movilidad</h5>
                </th>
                <th>
                  <h5>Valor Invertido</h5>
                </th>
                <th style="text-align: center;">
                </th>
              </thead>
              <tbody id="myTable">
                <tr>
                  <td>
                    Identificación 1
                  </td>
                  <td>
                    Nombre 1
                  </td>
                  <td>
                    Programa 1
                  </td>
                  <td>
                    Nac/Inter
                  </td>
                  <td>
                    Valor Invertido 1
                  </td>
                  <td style="text-align: center;">
                    <span class="now-ui-icons design_bullet-list-67"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>