<nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">Ver Convenidos</a>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="panel-header panel-header-sm">
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Listado de Convenios Nacionales</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="form-inline">
              <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Buscar"
              aria-label="Buscar">
              <i class="fas fa-search" aria-hidden="true"></i>
            </div>
            <table class="table table-bordered table-striped">
              <thead class="text-primary">
                <th>
                  <h5>Universidad</h5>
                </th>
                <th>
                  <h5>Ciudad</h5>
                </th>
                <th>
                  <h5>Página Web</h5>
                </th>               
                <th style="text-align: center;">
                  <h5>Visitar</h5>
                </th>
              </thead>
              <tbody id="myTable">
                <tr>
                  <td>
                    Universidad 1
                  </td>
                  <td>
                    Cuidad 1
                  </td>
                  <td>
                    Página Web 1
                  </td>
                  <td style="text-align: center;">
                    <span class="now-ui-icons business_globe"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Listado de Convenios Internacionales</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="form-inline">
              <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Buscar"
              aria-label="Buscar">
              <i class="fas fa-search" aria-hidden="true"></i>
            </div>
            <table class="table table-bordered table-striped">
              <thead class="text-primary">
                <th>
                  <h5>Bandera País</h5>
                </th>
                <th>
                  <h5>Universidad</h5>
                </th>
                <th>
                  <h5>País</h5>
                </th>
                <th>
                  <h5>Página Web</h5>
                </th>              
                <th style="text-align: center;">
                  <h5>Visitar</h5>
                </th>
              </thead>
              <tbody id="myTable">
                <tr>
                  <td>
                    <img src="../assets/images/empty.jpg" style="height: 70px;">
                  </td>
                  <td>
                    Universdad 1
                  </td>
                  <td>
                    País 1
                  </td>
                  <td>
                    Página Web 1
                  </td>
                  <td style="text-align: center;">
                    <span class="now-ui-icons business_globe"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>