<!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
<div class="logo">
  <a href="http://www.umariana.edu.co/" class="simple-text logo-mini">
    <img src="./assets/img/umariana.png"></img>
  </a>
  <a href="http://www.umariana.edu.co/" class="simple-text logo-normal">
    Umariana
  </a>
  <span id="perfil">Rectora</span>
</div>
<div class="sidebar-wrapper" id="sidebar-wrapper">
  <ul class="nav">
    <li id="movilities" class="active">
      <a>
        <i class="now-ui-icons location_world"></i>
        <p>Ver movilidades</p>
      </a>
    </li>
    <li id="docs-external">
      <a>
        <i class="now-ui-icons business_badge"></i>
        <p>Ver docentes</p>
      </a>
    </li>
    <li id="logout">
      <a>
        <i class="now-ui-icons sport_user-run"></i>
        <p>Salir</p>
      </a>
    </li>
  </ul>
</div>