<!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
<div class="logo">
  <a href="http://www.umariana.edu.co/" class="simple-text logo-mini">
    <img src="./assets/img/umariana.png"></img>
  </a>
  <a href="http://www.umariana.edu.co/" class="simple-text logo-normal">
    Umariana<br>
    
  </a>
  <span id="perfil">Coordinadora</span>
</div>
<div class="sidebar-wrapper" id="sidebar-wrapper">
  <ul class="nav">
    <li id="agreements" class="active">
      <a>
        <i class="now-ui-icons location_world"></i>
        <p>Registrar Convenios</p>
      </a>
    </li>
    <li id="mobility">
      <a>
        <i class="now-ui-icons business_briefcase-24"></i>
        <p>Registrar Movilidad</p>
      </a>
    </li>
    <li id="doc-external">
      <a>
        <i class="now-ui-icons business_badge"></i>
        <p>Registrar Docente</p>
      </a>
    </li>
    <li id="logout">
      <a>
        <i class="now-ui-icons sport_user-run"></i>
        <p>Salir</p>
      </a>
    </li>
  </ul>
</div>