<!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
<div class="logo">
  <a href="http://www.umariana.edu.co/" class="simple-text logo-mini">
    <img src="./assets/img/umariana.png"></img>
  </a>
  <a href="http://www.umariana.edu.co/" class="simple-text logo-normal">
    Umariana
  </a>
  <span id="perfil">Vicerrectora</span>
</div>
<div class="sidebar-wrapper" id="sidebar-wrapper">
  <ul class="nav">    
    <li id="mobilities-cant" class="active">
      <a>
        <i class="now-ui-icons business_chart-bar-32"></i>
        <p>Cantidad Movilidades</p>
      </a>
    </li>
    <li id="mobilities-cost">
      <a>
        <i class="now-ui-icons business_money-coins"></i>
        <p>Costos de Movilidad</p>
      </a>
    </li>
    <li id="logout">
      <a>
        <i class="now-ui-icons sport_user-run"></i>
        <p>Salir</p>
      </a>
    </li>
  </ul>
</div>