<!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
<div class="logo">
  <a href="http://www.umariana.edu.co/" class="simple-text logo-mini">
    <img src="./assets/img/umariana.png"></img>
  </a>
  <a href="http://www.umariana.edu.co/" class="simple-text logo-normal">
    Umariana
  </a>
  <span id="perfil">Estudiante</span>
</div>
<div class="sidebar-wrapper" id="sidebar-wrapper">
  <ul class="nav">
    <li id="view-agreements" class="active">
      <a>
        <i class="now-ui-icons location_world"></i>
        <p>Ver Convenios</p>
      </a>
    </li>
    <li id="apply-mobility">
      <a>
        <i class="now-ui-icons education_hat"></i>
        <p>Aplicar Movilidad</p>
      </a>
    </li>
    <li id="logout">
      <a>
        <i class="now-ui-icons sport_user-run"></i>
        <p>Salir</p>
      </a>
    </li>
  </ul>
</div>