<!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
<div class="logo">
  <a href="http://www.umariana.edu.co/" class="simple-text logo-mini">
    <img src="./assets/img/umariana.png"></img>
  </a>
  <a href="http://www.umariana.edu.co/" class="simple-text logo-normal">
    Umariana
  </a>
  <span id="perfil">Director de Programa</span>
</div>
<div class="sidebar-wrapper" id="sidebar-wrapper">
  <ul class="nav">
    <li id="events" class="active">
      <a>
        <i class="now-ui-icons ui-1_calendar-60"></i>
        <p>Registrar Evento</p>
      </a>
    </li>
    <li id="stu-external">
      <a>
        <i class="now-ui-icons users_single-02"></i>
        <p>Estudiantes Externos</p>
      </a>
    </li>
    <li id="logout">
      <a>
        <i class="now-ui-icons sport_user-run"></i>
        <p>Salir</p>
      </a>
    </li>
  </ul>
</div>